# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore Terraform lock, state and provider files
.terraform.lock.hcl

# Ignore bin/
bin/**

# Ignore .venv/
.venv/**

# Python
*.pyc
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
